.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

h2 {
  font-weight: 100;
}

.table {
  justify-content: center;
  font-size: 1.2rem;

  .colorx {
    color: #ff0000;
  }

  span {
    font-weight: 600;
  }
}

.form-control:focus {
  border-color: #86b7fe;
  -webkit-box-shadow: none;
  box-shadow: none;
}
